<div class="container row">
  <div class="panel-group" id="main_menu">
    <div class="panel panel-default">
      <div class="panel-heading" id="submenu1">
        <h4 class="panel-title">
          <h3>未来</h3>
          私たちは、「高品質・高機能の創造事業」を通じて、 未来世界に向けてプロダクトやサービスを企画・開発することを提供していきます。。
          <br><br>
          <h3>責任</h3>
          常に顧客満足度の向上を念頭に置き、「顧客から期待され信頼される企業」を目指します、当社の責任は、顧客からの要望には、迅速かつ正確に誠意を持って応えなければならない。
          <br><br>
          <h3>安全</h3>
          全社員が心を一つにし、. 安全を最優先の理念を持って、 お客様のご期待に応え、持続的発展を図ってまいります。
          <br>
          <br>
          代表取締役 社長 孫 光
        </h4>
      </div>

    </div>
  </div>
</div>


<script>

</script>