<div class="container row">
  <div class="panel-group" id="main_menu">
    <div class="panel panel-default">
      <div class="panel-heading" id="submenu1">
        <h4 class="panel-title">
          TESTAAAAAA
        </h4>
      </div>

    </div>
  </div>
</div>


<script>

</script>